[Unit]
Description=Enable NumLock on virtual consoles
DefaultDependencies=no
After=sysinit.target
Before=getty@tty1.service sddm.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c 'for tty in /dev/tty1 /dev/tty2 /dev/tty3 /dev/tty4 /dev/tty5 /dev/tty6; do /usr/bin/setleds -D +num < "$tty" > /dev/null 2>&1 || true; done'

[Install]
WantedBy=sysinit.target
